**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.vs
**/.vscode
*.md
**/*.*proj.user
**/Dockerfile
**/Dockerfile.develop
**/docker-compose.yml
**/docker-compose.*.yml
**/*.dbmdl
**/*.jfm
**/secrets.dev.yaml
**/values.dev.yaml
**/.toolstarget

**/bin/
**/obj/
**/node_modules/
**/bower_components/
**/wwwroot/lib/

src/WebApplications/WebSPA.KnowledgeBase/wwwroot/