<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Company name</a>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap" *ngIf="authenticated" (click)="logoutClicked($event)">
      <a class="nav-link" href="#">Sign out</a>
    </li>
    <li class="nav-item text-nowrap" *ngIf="!authenticated" (click)="login()">
      <a class="nav-link" href="#">Sign in</a>
    </li>
  </ul>
</nav>

<div class="container-fluid" *ngIf="authenticated">
  <div class="row">
    <app-nav-menu></app-nav-menu>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
