<div role="main" class="container-fluid">
  <div class="table-responsive">
    <div class="alert alert-warning esh-orders-alert" role="alert" [hidden]="!errorReceived">
      Error requesting test list, please try later on
    </div>
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>#</th>
          <th>Изпит</th>
          <th>Описание</th>
          <th>Статус</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let test of tests; let i = index">
          <td>{{i+1}}</td>
          <td>{{test.description}}</td>
          <td> </td>
          <td><a routerLink="/tests/{{test.id}}">Започни</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>




<!--<div class="esh-identity">
  <section class="esh-identity-section"
           *ngIf="!authenticated">
    <div class="esh-identity-item"
         (click)="login()">

      <div class="esh-identity-name esh-identity-name--upper">Login</div>
    </div>
  </section>

  <section class="esh-identity-section"
           *ngIf="authenticated">

    <div class="esh-identity-name"></div>
    <img class="esh-identity-image" src="assets/images/arrow-down.png">
  </section>

  <section class="esh-identity-drop"
           *ngIf="authenticated">

    <div class="esh-identity-item"
         (click)="logoutClicked($event)">

      <div class="esh-identity-name esh-identity-name--upper">Log Out</div>
      <img class="esh-identity-image" src="assets/images/logout.png">
    </div>
  </section>
</div>-->
